body {
  background-color: #F5F5F5;
  color: #3F2860;
  font: verdana;
}

header {
  background-color: #9BC1C2;
  text-align: center;
}

h1 {
  line-height: 200%;
}

nav {
  align-content: center;
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.studio {
  font-style: italic;
}

footer {
  background-color: #9BC1C2;
  font-size: 0.6em;
  text-align: center;
  font-style: italic;
}
